/* header */

.header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 43px;
    border-bottom: 1px solid;
    border-color: rgba(84, 84, 84, .7);
}

@media screen and (max-width: 600px) {
    .header {
        padding-top: 28px;
        margin-bottom: 41px;
    }
}
