.entry-container__subtitle_link {
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.5s linear;
  }
  
  .entry-container__subtitle_link:hover {
    opacity: 0.6;
  }