.popup__text {
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin: 0 0 30px 35px;
}

@media screen and (max-width: 600px) {
  .popup__text {
    margin-bottom: 26px;
    margin-left: 20px;
    line-height: 29px;
  }
}

.popup__text_error {
  border-bottom: 1px solid red;
  margin-bottom: 0px;
}