.profile__avatar {
    margin: 0 0 0 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    color: #fff;
}

@media screen and (max-width: 650px) {
    .profile__avatar {
        align-self: center;
        margin-bottom: 28px;
    }
}